.page-title {
    margin: 30px;
}

.task-card {
    margin: 30px;
    padding: 30px;
    border-radius: 12px;
    background: var(--bg-card);
    border: 1px solid #2f2235;
}

.tags {
    margin: 25px 0;
}

.tags span {
    background: #2b1735;
    padding: 8px 15px;
    border-radius: 20px;
    margin-right: 10px;
    font-size: 0.9em;
}

.reward {
    color: var(--accent);
    font-size: 22px;
    font-weight: bold;
    margin: 25px 0;
}

.accept-btn {
    background: var(--accent);
    border: none;
    padding: 12px 25px;
    border-radius: 8px;
    color: #000;
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s ease;
}

.accept-btn:hover {
    background: #00e695;
    transform: translateY(-2px);
}