body {
    margin: 0;
    font-family: Arial;
    background: linear-gradient(#120914, #1a0f1f);
    color: white;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    background: #0c0710;
}

.logo span { color: #00ffa6; }

nav a {
    margin: 0 12px;
    color: gray;
    text-decoration: none;
}

nav a.active {
    color: white;
    font-weight: bold;
}

.profile {
    display: flex;
    gap: 12px;
    align-items: center;
}

.msg {
    background: #1f1f1f;
    padding: 8px;
    border-radius: 50%;
}

/* MAIN */
.container {
    padding: 50px;
}

.card {
    width: 650px;
    margin: auto;
    background: #241329;
    padding: 30px;
    border-radius: 12px;
}

/* FORM */
.row {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.align {
    align-items: stretch;
}

.group {
    flex: 1;
}

label {
    display: block;
    margin-bottom: 6px;
    font-size: 14px;
}

/* INPUT */
input, select, textarea {
    width: 80%;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #555;
    background: transparent;
    color: white;
}

textarea {
    height: 100px;
    margin-bottom: 20px;
}

/* UPLOAD */
.upload-box {
    flex: 1;
    border: 2px dashed #666;
    border-radius: 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.upload-inner {
    text-align: center;
    color: #aaa;
}

.upload-inner span {
    font-size: 30px;
}

.upload-box img {
    width: 70%;
    display: none;
    border-radius: 10px;
}

/* GUIDELINE */
.guideline {
    background: #00c98d;
    color: black;
    padding: 12px;
    border-radius: 10px;
    margin-top: 10px;
}

/* BUTTON */
.buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    gap: 10px;
}

.draft {
    background: transparent;
    border: 1px solid #aaa;
    color: #aaa;
}

.continue {
    background: #333;
}